.chat-dialog {
	min-width: 320px;
	max-width: 440px;
	min-height: 676px;
	max-height: 100vh;
	padding: 0;
	position: fixed;
	top: 0;
	margin: 0;
	left: inherit;
	border: none;
	box-sizing: border-box;
	box-shadow: 16px 0px 52px 0px #0E185033;
	z-index: 2;
	animation: showUpDialog 0.3s ease-in-out;
}

.chat-dialog__inner {
	min-width: 320px;
	max-width: 440px;
	min-height: 676px;
	max-height: 100vh;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 20px;
}

.chat__title {
	font-family: 'TTLakesBold';
	padding-top: 25px;
	margin-top: 0;
}

.chat__title::before {
	content: '';
	display: block;
	position: absolute;
	height: 40px;
	width: 4px;
	left: 0;
	top: 85px;
	background-color: #41F6D7;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#chatClose {
	transition: 0.3s;
}

#chatClose:hover,
#chatClose:focus {
	cursor: pointer;
	transform: scale(1.1);
}

.form__textarea {
	height: 118px;
}

.chat-dialog .form__button {
	font-family: 'TTLakesBold';
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	box-sizing: border-box;
	background-color: #ff3e79;
	height: 32px;
	width: 136px;
	border-radius: 25px;
	right: -10px;
	padding-right: 15px;
	transition: 0.2s;
}

.form__button:hover,
.form__button:focus {
	cursor: pointer;
	transform: scale(1.1);
}

.chat-dialog .form__button::after {
	content: '';
	background-image: url('../img/goside.svg');
	width: 24px;
	height: 24px;
	display: block;
	position: absolute;
	right: 5px;
	top: 4px;
}

#formChat > .form__button {
	display: block;
	position: absolute;
	left: inherit;
	margin-right: 7%;
}

.chat-dialog::backdrop {
	background-color: #fff;
	opacity: 96.05%;
}

@keyframes showUpDialog {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

@media (min-width: 768px) {

	#chatClose {
		position: fixed;
		top: 40px;
		right: 470px;
	}

	.chat-dialog {
		height: 940px;
		max-height: 100vh;
	}

	.chat__title::before {
		content: '';
		display: block;
		position: absolute;
		height: 40px;
		width: 4px;
		left: 0;
		top: 40px;
		background-color: #41F6D7;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
}

@media (max-width: 767px) {

	.chat-dialog {
		height: 940px;
		max-height: 100vh;
	}
}