.footer {
	display: flex;
	justify-content: space-between;
	position: relative;
	border-top: 1px solid #D9FFF5;
	margin-left: 4%;
	margin-right: 4%;
}

.footer__item {
	font-family: 'TTLakesRegular';
	color: #7E7E82;
	font-size: 14px;
	margin-top: 30px;
	margin-bottom: 30px;
	max-width: 330px;
}

@media (max-width: 767px) {
	
	.footer {
		flex-direction: column;
		text-align: center;
	}

	.footer__item {
		margin: auto;
		padding-top: 15px;
	}
}

@media (min-width: 768px) and (min-width: 1119px){

.footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

	.footer__item:first-child {
		text-wrap: nowrap;
		margin-left: 9%;
	}

	.footer__item:last-child {
		text-align: end;
		margin-right: 9%;
	}
}

@media (min-width: 1120px) {

	.footer {
		display: flex;
		margin-left: 320px;
	}

.footer__item:first-child {
	margin-left: 50px;
}

	.footer__item:last-child {
		text-align: end;
		margin-right: 50px;
	}
}